@import "tailwindcss";

@layer base {
  :root {
    --primary-color: #4a9eff;
  }
}

.app-region-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
