RPC_URL=
ANCHOR_PROVIDER_URL=

# Blockchain
VIRAL_TOKEN=HW7D5MyYG4Dz2C98axfjVBeLWpsEnofrqy6ZUwqwpump
GYM_TREASURY_WALLET=/usr/src/app/backend/secrets/treasury-keypair.json

OPENAI_API_KEY=
ANTROPIC_API_KEY=

DB_URI=
VNC_PORT=
# VNC_HOST_GYMTEST=
# VNC_PASS_GYMTEST=

IPC_SECRET=
FEEDBACK_WEBHOOK=
